/* src/components/faq.css */
.faq-section {
  max-width: 800px;
  margin: 0 auto; /* Centrado horizontal */
  padding: 30px; /* Espaciado alrededor del contenido */
  background-color: #f6f4f4;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Asegura que el contenido esté alineado al inicio */
  position: relative;  /* Añadido */
  top: -130px;  /* Mueve la sección hacia arriba (ajusta el valor según lo necesites) */
}

/* Efecto hover */
.faq-section:hover {
  transform: translateY(-5px); 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
}

/* Título de la sección FAQ */
.faq-section h2 {
  text-align: center; 
  margin-bottom: 20px;
  color: #1a1a1a;
}

/* Alineación de las preguntas y respuestas */
.accordion-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Acordeón */
.MuiAccordion-root {
  width: 100%;
  display: block;
}

.MuiAccordionSummary-root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.MuiAccordionDetails-root {
  padding: 0 16px 16px 16px;
}

/* Estilos responsive */
@media (max-width: 768px) {
  .faq-section {
    top: -50px; /* Ajusta la posición en móviles (mueve la sección hacia abajo) */
  }
}
